*{
    box-sizing: border-box;
}
body{
    background-image: url("./image6.jpg");
    background-size: cover;
    background-position:center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;

}

h1{ font-weight: normal;
    font-size: 4rem;
    margin-top: -10rem;
}

.countdown-container{
    display: flex;
}

.big-text{
    
    font-size: 6rem;
    line-height: 1;
    margin: 0 2rem;
}

.countdown-e1{
    text-align: center;
}
.countdown-e1 span{
font-size: 1.3re;

}

.countdown-container{
    display: flex;
}
